.monthly-outgoings {
    min-height: 80vh;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 80px;
    clear: both;
    border-radius: 10px;
    font-family: Montserrat;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  } 
  .monthly-outgoings .heading1 {
    font-size: 22px;
    color: #62635d;
    font-weight: 600;
    margin: 17px 0 25px 0;
    font-style: italic;
  }
  
  .monthly-outgoings .h61 {
    font-size: 16px;
    color: #62635d;
    margin: 0px 0 15px 0;
    padding: 0 0 0 4px;
  }
 

  .monthly-outgoings .btn-div button {
    margin: 0 20px 0 0;
    padding: 10px 35px;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    color: white;
  }
  .monthly-outgoings .btn-div {
    margin: 20px 0 0 0;
  }
  .monthly-outgoings .btn-div .btn1 {
    background: gray;
  }
  .monthly-outgoings .btn-div .btn2 {
    background: #fb9500;
  }
  .monthly-outgoings .btn-div .btn2 {
    height: 40px;
  }
  .monthly-outgoings .input {
    margin: 0 0 25px 0;
  }
  .monthly-outgoings .input input {
    width: 27%;
    height: 40px;
    background: #cccccc;
    border-radius: 20px;
    border: 2px solid gray;
    outline: none;
    padding: 0 20px 0 40px;
    font-weight: 600;
    color: white;
  }
  
  .monthly-outgoings .input input::placeholder {
    color: white;
  }
  
  .edit_C{
      left: 15px;
      position: relative;
    top: -11px;
    cursor: pointer;
  }
  .inputWithEdit{
      display: flex;
      flex-direction: row; 
      align-items: center;
      justify-content: flex-start;
  }
  .inputWithEdit .input input {
      width: 100% !important;
  }